.homeLeft {
    height: 400px;
}

.lefthomeTitle {
    color: rgb(44, 42, 150);
    text-align: center;
}

.lefttitleImage {
    width: 30%;
    margin-left: 120px;
    cursor: pointer;
}

.lefthomeMessage {
    text-align: center;
    color: rgb(44, 42, 150);
}

.getstartedBtn {
    width: 130px;
    margin-left: 120px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgb(44, 42, 150);
    font-family: 'Times New Roman', Times, serif;
}
.welcomeUser {
    margin-top: 10px;
    color: rgb(26, 20, 66);
}

.homeRight {
    height: 400px;
}

.cardFeature {
    height: 157px;
}

@media screen and (max-width: 1650px) {
    #featureStyle1 {
        height: 100%;
    }
    #featureStyle2 {
        height: 100%;
    }
    #featureStyle3 {
        height: 100%;
    }
    #featureStyle4 {
        height: 100%;
    }
}
