.register {
    border-radius: 50px;
    overflow: hidden;
}

.myregcol {
    height: 550px;
    background-color: rgb(37, 158, 211);
}

.colTwo {
    height: 550px;
    background-color: rgb(221, 242, 233);
}

.Auth-form-title {
    width: 255px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(193, 204, 242);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.formArea {
    margin: auto;
    margin-top: 15px;
    width: 330px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#radioBtn {
    margin-left: 30px;
}

#fullName {
    width: 250px;
    margin-left: 40px;
    height: 30px;
    background-color: rgb(232, 240, 254);
}

#email {
    width: 250px;
    margin-left: 40px;
    height: 30px;
    background-color: rgb(232, 240, 254);
}

#password {
    width: 250px;
    margin-left: 40px;
    height: 30px;
    background-color: rgb(232, 240, 254);
}

#secretkeyField {
    width: 250px;
    margin-left: 40px;
    height: 30px;
    background-color: rgb(232, 240, 254);
}

/* #role {
    width: 250px;
    margin-left: 40px;
    height: 35px;
    background-color: rgb(232, 240, 254);
} */

.regLabel {
    margin-left: 40px;
}

.regLogo {
    margin-left: 130px;
}

.leftSide {
    width: 150px;
    height: 70px;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
}

.leftTitle {
    color: white;
    font-size: x-large;
}

.leftDescription {
    text-align: center;
    font-weight: bold;
    font-size: small;
    color: white;
}

.leftButton p {
    color: white;
}

.leftButton button {
    color: white;
    margin-left: 130px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(37, 158, 211);
}

.leftButton button:hover {
    background-color: black;
}

.registerBtn {
    width: 100px;
    margin-left: 110px;
    border-radius: 10px;
    color: white;
    background-color: rgb(37, 158, 211);
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}