.courseListcontainer {
    flex: 1; /* Allow content to grow and take available space */
    overflow-y: auto;
}

.courseListTitle {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: auto;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.operationsBtn {
    margin: 5px;
}

#deleteButton {
    width: 70px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#updateButton {
    width: 70px;
    border: none;
    color: white;
    background-color: rgb(23, 162, 184);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#deleteButton:hover {
    background-color: rgb(55, 46, 46);
}

#updateButton:hover {
    background-color: rgb(55, 46, 46);
}  