.userupdateformbtns {
    display: flex;
    gap: 5px;
}

#userupdatesubmitbtn {
    border: none;
    color: white;
    background-color: rgb(23, 162, 184);
    border-radius: 15px;
}

#userupdatecancel {
    border: none;
    color: white;
    background-color: red;
    border-radius: 15px;
}